
<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>车牌识别检测系统</title>
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/jquery/jquery-3.6.0.min.js"></script>

</head>

<body>
	<div class="container" style="background-color: rgb(243,243,243); max-width: 1284px; width: 1284px; padding: 0;">
		<div class="row text-center">
			<div class="col-md-12">
				<h1>车牌识别检测系统</h1>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-12">
				<form action="#" method="post" enctype="multipart/form-data" id="image-form">
					<div class="form-group">
						<label for="file">选择视频</label>
						<input type="file" class=" form-control" id="file" name="file" accept="video/mp4">
					</div>
					<button type="button" class="btn btn-primary" id="upload">提交</button>
					<button type="button" class="btn btn-success" disabled="disabled" id="start">开始 / 暂停</button>
					<button type="button" class="btn btn-primary" disabled="disabled" id="stop">停止</button>
					<button type="button" class="btn btn-primary" disabled="disabled" id="download">下载</button>
					<a href="/index" class="btn btn-primary">图片检测</a>
					<a href="/camera" class="btn btn-primary">摄像头检测</a>
				</form>
			</div>
		</div>
		<div class="col2">
			<div class="col2-center-block">
				<h2 class="text-center">预览</h2>
				<div>
					<img src="../static/images/bus.jpg" alt="" id="source">
				</div>
			</div>
			<div class="col2-center-block">
				<h2 class="text-center">结果</h2>
				<div>
					<img src="../static/images/zidane.jpg" alt="" id="predict">
				</div>
			</div>
		</div>

	</div>
</body>
<script>
	$(() => {
		// 显示结果数据


		$('#download').click(() => {
			$.ajax({
				url: '/download',
				type: 'GET',
				data: {
					'fileName': $('#upload').attr('videoName')
				},
				success: function (data) {
					const a = document.createElement('a');
					a.href = data.url;
					a.download = 'predict.' + $('#upload').attr('videoName').split('.')[1];
					a.click();
				}
			});
		});

		$('#stop').attr('stop', 'false')
			.click(() => {
				stop = $('#stop');
				stop.attr('stop', 'true');
				if ($('#start').attr('pause') === 'true') {
					$.ajax({
						url: '/videoPredict',
						type: 'GET',
						data: {
							'videoName': $('#upload').attr('videoName'),
							'isStop': stop.attr('stop')
						},
						success: (data) => {
							if (data.code === 1) {
								$('#start')
									.removeClass('btn-info')
									.addClass('btn-success')
									.removeAttr('disabled')
									.attr('pause', 'true');
								stop.attr('disabled', 'disabled')
									.attr('stop', 'false');
								$('#upload').removeAttr('disabled');
								$('#download').removeAttr('disabled');



								alert(data.msg);
							}
						}
					});
				}
			});

		$('#upload').click(() => {
			let formData = new FormData($('#image-form')[0]);
			if ($('#file').val() === '') {
				alert('请选择视频');
				return;
			}

			$('#start').attr('pause', 'true');

			$.ajax({
				url: '/uploadVideo',
				type: 'POST',
				data: formData,
				contentType: false,
				processData: false,
				success: (data) => {
					if (data.code === -1) {
						alert(data.msg);
						return;
					}
					const videoName = data.videoName;
					$('#upload').attr('videoName', videoName)
						.attr('disabled', 'disabled');
					$('#start').removeAttr('disabled');
					$('#stop').attr('disabled', 'disabled');
					$('#download').attr('disabled', 'disabled');
					alert('上传成功');
				}
			});
		});

		$('#start').attr('pause', 'true')
			.click(() => {
				const start = $('#start');
				const stop = $('#stop');
				const download = $('#download');
				const upload = $('#upload');
				if (start.attr('pause') === 'true') {
					start.attr('pause', 'false')
						.removeClass('btn-success')
						.addClass('btn-info');
					stop.removeAttr('disabled');
					download.attr('disabled', 'disabled');


				}
				else {
					start.attr('pause', 'true')
						.removeClass('btn-info')
						.addClass('btn-success');
					stop.attr('stop', 'false');
					download.removeAttr('disabled');


				}

				function predictOneFrame() {
					$.ajax({
						url: '/videoPredict',
						type: 'GET',
						data: {
							'videoName': upload.attr('videoName'),
							'isStop': stop.attr('stop')
						},
						success: (data) => {
							console.log(data);
							if (data.code === -1) {
								start.attr('disabled', 'disabled')
									.attr('pause', 'true')
									.removeClass('btn-success')
									.addClass('btn-info');
								stop.attr('disabled', 'disabled')
									.attr('stop', 'false');
								upload.removeAttr('disabled');
								download.attr('disabled', 'disabled');



								alert(data.msg);
								return;
							}
							if (data.code === 1) {
								start.removeAttr('disabled')
									.attr('pause', 'true')
									.removeClass('btn-info')
									.addClass('btn-success');
								stop.attr('disabled', 'disabled')
									.attr('stop', 'false');
								upload.removeAttr('disabled');
								download.removeAttr('disabled');



								alert(data.msg);
								return;
							}
							start.removeAttr('disabled');
							stop.removeAttr('disabled');
							download.attr('disabled', 'disabled');
							const predictImg = data.predict;
							const sourceImg = data.source;
							const suffix = data.suffix;
							// src=“data:image/png;base64,iVBORw0KGgoA
							$('#predict').attr('src', `data:image/${suffix};base64,${predictImg}`);
							$('#source').attr('src', `data:image/${suffix};base64,${sourceImg}`);


							if (start.attr('pause') === 'true') {
								download.removeAttr('disabled');
								return;
							}
							predictOneFrame();
						}
					});
				}

				predictOneFrame();
			});
	});

</script>

</html>